<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <a asp-action="SearchEmployeeByID" asp-controller="Works_On" class="btn btn-outline-dark">Search Employee By ID</a>
    <br />
    <br />
    <a asp-action="SearchEmployeeByName" asp-controller="Works_On" class="btn btn-outline-dark">Search Employee By Name</a>
</div>

