<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <a asp-action="SearchProjectByID" asp-controller="Works_On" class="btn btn-outline-dark">Search Project By ID</a>
    <br />
    <br />
    <a asp-action="SearchProjectByName" asp-controller="Works_On" class="btn btn-outline-dark">Search Project By Name</a>
</div>
