@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alert View</title>
</head>
<body>
    <script>
        alert("Project Was Not Found");
        window.location.href = '@Url.Action("SearchProjectByID","Works_On")';
    </script>
</body>
</html>