<figure class="text-center">
    <h1 style="color:midnightblue">
        There is No Employees yet
    </h1>
    <br />
    <a asp-controller="Employee" asp-action="NewEmployee" class="btn btn-outline-dark">Add New Employee</a>
    <br />
    <br />
    <a asp-controller="Works_On" asp-action="Index" class="btn btn-outline-info">Back To Assigning</a>


</figure>