

<div class="text-center">
    <br />
    <br />    
    <br />
    <br />
    <a asp-action="DealWithEmployees" asp-controller="Works_On" class="btn btn-outline-info">Assign Employees To Projects</a>
    <br />
    <br />
    <a asp-action="DealWithProjects" asp-controller="Works_On" class="btn btn-outline-danger">Delete Employees From Projects</a>

</div>