<figure class="text-center">
    <h1 style="color:midnightblue">
        There is No Projects available yet
    </h1>
    <br />
    <br />
    <a asp-controller="Works_On" asp-action="Index" class="btn btn-outline-info">Back To Assigning</a>
    <br />
    <br />
    <br />
    <a asp-controller="Employee" asp-action="Index" class="btn btn-outline-dark">Go To Employees</a>
</figure>