@model Project


<form method="post" asp-action="ProjectEmployees2" asp-controller="Works_On">
    <div class="form-group">
        <label asp-for="Pname">Project Name</label>
        <input class="form-control" asp-for="Pname" />
    </div>
    <input type="submit" class="btn btn-primary" value="Search" />
</form>
