@model Project
@{
    ViewData["Title"] = "UnAssignProjectFromEmployee";
}

<h1>UnAssignProjectFromEmployee</h1>
<h1>Deleted Successfully</h1>

<a asp-action="ProjectEmployees" asp-controller="Works_On" class="btn btn-outline-warning" asp-route-Id="@Model.PNUMBER">Back To Project Employees</a>


