

<figure class="text-center">
    <h1 style="color:midnightblue">
        This Employee has No Dependents 
    </h1>
    <br />
    <a asp-controller="Dependent" asp-action="NewDependent" class="btn btn-outline-info">Add New Dependent</a>
    <br />
    <br />
    <br />
    <a asp-action="Index" asp-controller="Employee" class="btn btn-outline-dark">Back To Employees</a>

</figure>

