
<figure class="text-center">
    <h1 style="color:midnightblue">
        There is No Dependents Assigned To Employees yet
    </h1>
    <br />
    <a asp-controller="Dependent" asp-action="NewDependent" class="btn btn-outline-info">Add New Dependent</a>
    <br />
 
</figure>