
<figure class="text-center">
    <h1 style="color:midnightblue">
        <span style="color:red">It's eithier</span> there is no Employees in the company <span style="color:red">OR</span> each Employee has a Dependent
    </h1>
    <br />
    <a asp-action="Index" asp-controller="Dependent" class="btn btn-outline-dark">Back To Dependents</a>
    <br />
    <br />
    <br />
    <a asp-controller="Employee" asp-action="Index" class="btn btn-outline-info">Go To Employees</a>

</figure>