@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alert View</title>
</head>
<body>
    <script>
        alert("Please Deal with the Dependent assigned to this Employee to delete the Employee");
        window.location.href = '@Url.Action("Index","Employee")';
    </script>
</body>
</html>