<figure class="text-center">
    <h1 style="color:midnightblue">
        There is No Employees yet
    </h1>
    <br />
    <a asp-controller="Employee" asp-action="NewEmployee" class="btn btn-outline-info">Add New Employee</a>
    <br />

</figure>