
<figure class="text-center">
    <h1 style="color:midnightblue">
        Please Add a Department First To Be Able To Assign The New Employee To This Department
    </h1>
    <br />
    <a asp-controller="Employee" asp-action="Index" class="btn btn-outline-info">Back To Employees</a>
    <br />
    <br />
    <br />
    <a asp-action="Index" asp-controller="Department" class="btn btn-outline-dark">Go To Departments</a>
</figure>