
<figure class="text-center">
    <h1 style="color:midnightblue">
        There is No Projects available yet
    </h1>
    <br />
    <a asp-controller="Project" asp-action="NewProject" class="btn btn-outline-dark">Add New Project</a>
    <br />
</figure>