

@{
    ViewData["Title"] = "Home Page";
}

<div style="background-image:url(/Images/fashion3.jpg); padding-bottom:200px;" class="text-center">
    

    <br />
    <br />
    <br />
    <br />

    <h1 style="color:red" class="text-bold">Welcome To <span style="color:white">CLOTHES PROJECT</span></h1>
</div>


