
<figure class="text-center">
    <h1 style="color:midnightblue">
        There is No Departments available yet
    </h1>
    <br />
    <a asp-controller="Department" asp-action="FirstNewDepartment" class="btn btn-outline-dark">Add New Department</a>
    <br />
</figure>